@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0; padding: 0;
	box-sizing: border-box;
	/*text-decoration: none;*/
	outline: none;border: none;
	text-transform: capitalize;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

body{
	background:#ffffff;
}

/*Header*/
header{
	position: absolute;
	top:0; left: 0;
	width: 100%;
	background:url(../images/nav-bg.png);
	padding: 30px 85px;
	display: flex;
	align-items: center;justify-content: space-between;
}

.home{
	min-height: 145vh;
	padding: 0;
}

header .logo{
	text-decoration: none;
	font-size: 20px;
	color: #EBCB80;
	text-transform: uppercase;
}

header .navbar a{
	text-decoration: none;
	font-size: 17px;
	margin-left: 20px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn{
	padding: 9px 30px;
	margin-top: 10px;
	border-width: 180px;
	border-top: 180px;
	border: 2px solid #ffffff;
	border-radius: 50px;
}

.home{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/background.png);
	background-size: cover;
}

section .content h1{
	font-size: 40px;
}

section .content p{
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
}

section .content .find{
	margin-top: 35px;
	text-align:center;
}

.find input[type="email"]{
	padding: 10px;
	font-size: 15px;
	/*background:none;*/
	width: 300px;
	/*color: #fff;*/
	text-transform: none;
	border: 1px solid #4B4B4B;
	border-radius: 4px; 
	margin-right: 15px;
}

.find input[type="submit"]{
	text-transform: uppercase;
	border: 2px solid #4B4B4B;
	padding: 7px;
	width: 170px;
	font-size: 16px;
	border-radius: 50px;
	cursor: pointer;
}

.content .icon{
	display: flex;
	max-width: 450px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin:70px auto;
}

/*Team*/
.team{
	min-height: 550px;
}
.team .heading{
	font-size: 44px;
	text-align: center;
	margin-top: 40px; 
}

.team .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
}

.team .box-container .box{
	height: 170px;
	background: #ffffff;
	margin: 30px 10px 30px 20px;
	padding: 20px;
	padding-left: 30px;
	text-align: left;
	position: relative;
	flex: 1 1 280px;
}

.person {
	display: flex;
}

.person p{
	font-size: 13px;
	padding-top: 20px;
	padding-left: 0;
}

.person h3{
	font-size: 16px;
}

.person img{
	/*float: left;*/
	margin-right: 20px;
}


/*Plan*/
.plan{
	min-height: 650px;
	background: #4B4B4B;
	padding: 0 180px;
	padding-top: 65px;
}

.plan .heading{
	font-size: 40px;
	text-align: center;
	margin-top: 10px; 
	margin-bottom: 25px;
	color: #ffffff;
}

.plan .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.plan .box-container .box{
	flex: 1 1 200px;
	margin: 20px 10px;
	padding: 10px;
	box-shadow: 0 6px 10px rgba(0,0,0,.5);
	border-radius: 8px;
	text-align: center;
	padding-bottom: 30px;
}

.plan .box-container .box:nth-child(1){
	background: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0.0001) 100%);
}

.plan .box-container .box:nth-child(1) .title{
	color: #EBCB80;
}

.plan .box-container .box:nth-child(1) .price,
.plan .box-container .box:nth-child(1) .year,
.plan .box-container .box:nth-child(1) ul{
	color: #ffffff;
}

.plan .box-container .box:nth-child(2){
	 background: #EBCB80;
}

.plan .box-container .box:nth-child(2) .btn-p{
	background: #4B4B4B;
	color: #FFFFFF;
}

.plan .box-container .box:last-child{
	background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
}

.plan .box-container .box:last-child .title{
	color: #EBCB80;
}

.plan .box-container .box:last-child .price,
.plan .box-container .box:last-child .year,
.plan .box-container .box:last-child ul{
	color: #ffffff;
}


.plan .box-container .box ul{
	padding: 10px 0;
	list-style: none;
}

.plan .btn-p{
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 15px;
	/*margin-bottom: 8px;*/
	padding: 5px 30px;
	border-radius: 50px;
	background:#EBCB80;
	font-size: 14px;
	cursor: pointer;
	color: #4B4B4B;
}

.plan .box-container .box .title{
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.plan .box-container .box .price sup{
	font-size: 20px;
	padding-right: 3px;
}

.plan .box-container .box .price{
	font-size: 47px;
}

.plan .box-container .box li{
	font-size: 13px;
	padding: 4px 0;
}

.plan .box-container .box .year{
	font-size: 18px;
	text-transform: uppercase;
}


/*Place*/
.place{
	min-height: 123vh;
	padding: 0 100px;
}

.place .heading{
	font-size: 37px;
	text-align: center;
	margin-top: 70px; 
	margin-bottom: 15px;
}

.place .name{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 270px;
	margin-bottom: 10px;
	width: 600px;
}

.place .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
}

.place .box-container .box-up{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 6px;
	/*border: 5px solid #bababa;*/
	width: 970px
}

.place .box-container .box-down{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 6px;
	/*border: 5px solid #bababa;*/
	width: 970px
}


/*Account*/
.account{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 540px;
	background: url(../images/mask.png)
}

.account form{
	text-align: center;
	padding: 30px 30px;
	border-radius: 8px;
	/*width:340px;*/
	background: #4B4B4B;
	
}

.content .heading{
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 36px;
}

.content .title{
	text-align: center;
	color: #EBCB80;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 15px;
}

.content .inputBox{
	opacity: 0.8;
	border: 1px solid #999999;
	border-radius: 4px;
	height: 36px;
	/*width: 100px;*/
	margin: 20px 10px;
}

.content .inputBox input{
	padding: 6px 76px 6px 15px;
	font-size: 14px;
}

.content a{
	text-align: center;
	color: #EBCB80;
	font-size: 13px;
}

.account .content .sign{
	text-decoration: underline;
	font-size: 16px;
}

.btn-a{
	padding: 7px 50px;
	margin-top: 18px;
	border-width: 180px;
	border-top: 180px;
	border: 2px solid #ffffff;
	border-radius: 50px;
	background: #EBCB80;
	color: #4B4B4B;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}